<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css') }}">
    <title>Race Stats</title>
    
</head>
<body>
    <h1 class="title">Race Leaderboard - Velozone</h1>
    <div class="container">
        <div class="container_left">
            <div class="average-times">
                <h2>Average Lap Time</h2>
                <div class="column">
                    <div class="subcolumn">
                        <ol start = 11>
                            {% for item in averages[10:15] %}
                            <li>{{ item[0] }} -- {{ item[1] }}s</li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="subcolumn">
                        <ol start="16">
                            {% for item in averages[15:20] %}
                            <li>{{ item[0] }} -- {{ item[1] }}s</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_right">
            <div class="performances">
                <div class="top-laps">
                    <h2>Top 5 Fastest Laps</h2>
                    <ol>
                        {% for lap in top_laps %}
                        <li>{{ lap[0] }} -- {{ lap[1] }}s</li>
                        {% endfor %}
                    </ol>
                </div>

                <div class="worst-lap">
                    <h2>Bad-man &#x1F987;</h2>
                    <center>
                        <p>{{ badman_lap[0][0] }} -- {{ badman_lap[0][1] }}s</p>
                    </center>
                </div>

                <div class="diesel-engine">
                    <h2>Diesel Engine</h2>
                    <center>
                        <p>{{ diesel[0][0] }} -- {{ diesel[0][2] }}s</p>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- University Logo (Bottom Left) -->
    <div class = "logo-wrapper">
        <div class="logo-container">
            <img src="static/img/university_logo.png" alt="University Logo">
        </div>
        <div class="logo-container">
            <img src="static/img/logo_faculty.png" alt="University Logo">
        </div>    
    </div>
    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 2000);
    </script>
</body>
</html>
