.small-profile-img {
    width: 50px; /* Pas de grootte aan naar wens */
    height: 50px; /* Houd de afbeelding vierkant */
    border-radius: 50%; /* Maakt de afbeelding rond */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding goed past */
}
.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0d1b2a;
    font-family: 'Arial', sans-serif;
    color: white;
}

    .layout .container {
        display: flex;
        width: 95%;
        height: 90vh;
        gap: 2%;
        overflow: hidden;
    }

    .layout .container_left,
    .layout .container_right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .layout .average-times,
    .layout .performances {
        background-color: #243C4F;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

        .layout .performances > div {
            margin-bottom: 20px;
            padding: 15px;
            background-color: #2F4A5D;
            border-radius: 8px;
        }

            .layout .performances > div:last-child {
                margin-bottom: 0;
            }

    .layout h2 {
        color: #E0E0E0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .layout ol, .layout ul {
        padding: 0;
        list-style-position: inside;
    }

    .layout li {
        background: rgba(255, 255, 255, 0.1);
        margin: 2px 0;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    .layout .column {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .layout .sub-column-left,
    .layout .sub-column-right {
        flex: 1;
    }

@media (min-width: 768px) {
    .layout .container {
        flex-direction: row;
    }

    .layout .container_left {
        flex: 0 0 65%;
    }

    .layout .container_right {
        flex: 1;
    }
}
