body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light blue background */
    color: #007bff; /* Blue text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}
.title {
    font-size: 50px;
    margin-bottom: 20px;
}
.btn{
	margin-top: 20px;
}
.back-button{
	display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.home-button{
	display: flex;
	align-items: flex-start;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (32 - 16) * (100vw - 320px) / (2560 - 320));
}