body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    max-height: 100vh;
    margin: 0;
    background: #e0f7fa; /* Light blue background */
    font-family: 'Arial', sans-serif;
    color: #007bff; /* Blue text color */
    text-align: center;
    padding-bottom: 80px; /* Added padding to create space for logos */
}

.title {
    position: fixed; /* Fix the position of the title */
    top: 0; /* Position it at the very top of the viewport */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for the width to truly center */
    margin-top: 0; /* Remove any top margin that might interfere */
    margin-bottom: 20px; /* Adjust bottom margin for spacing below the title */
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 85%;
    text-align: center;
    z-index: 100; /* Ensure it stays on top of other content */
}
.container{
    margin-top: 130px;
}
.card-title {
    color: #007bff;
    text-align: center;
}

.logo-container img {
    max-height: 60px; /* Increased max height for larger images */
}
.logo-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute; /* Take the element out of the normal flow */
    bottom: 0; /* Position it at the bottom of its relative parent */
    right: 0; /* Position it at the right of its relative parent */
    width: auto; /* Adjust as needed based on your logo sizes */
    height: auto; /* Adjust as needed based on your logo sizes */
    padding: 20px; /* Optional: Add some padding around the logos */
}

.logo-wrapper, .logo-container {
    pointer-events: auto;
}

.back-button {
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.average-laps {
    font-size: 1.7em; /* Reduced font size */
    font-weight: bold; /* Optional: Make it bold */
    border: 1px solid lightblue;
    padding: 8px; /* Reduced padding */
    margin-bottom: 4px; /* Reduced bottom margin */
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
}
.list-fastestlaps {
    list-style-position: inside; /* Try to bring the numbers inside */
    padding-left: 8px; /* Adjust left padding to accommodate numbers */
}

.list-averages{
    list-style-position: inside; /* Try to bring the numbers inside */
    padding-left: 8px; /* Adjust left padding to accommodate numbers */
}

.fastest-laps, .diesel, .electrical, .worst-lap{
    font-size: 1.1em; /* Reduced font size */
    font-weight: bold; /* Optional: Make it bold */
    border: 1px solid lightblue; /* Add the border */
    margin-bottom: 2px;
    padding: 4px; /* Reduced padding */
    background-color: #007bff; /* Use a lighter blue */
    color: white; /* Set the text color to white */
    border-radius: 8px; /* Add rounded corners */
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .columns {
        flex-direction: column;
    }
}
