body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    max-height: 100vh;
    margin: 0;
    background: #e0f7fa; /* Light blue background */
    font-family: 'Arial', sans-serif;
    color: #007bff; /* Blue text color */
    text-align: center;
}

.title {
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #007bff;
    color: white;
    padding: 15px;;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 93%;
    text-align: center;
}

.average-times {
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
    border: 2px solid #007bff;
    background-color: white;
    width: 100%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    height: 85%;
    min-height: 100px;
    margin-left: 0%;
}

.average-times h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}
.column {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.subcolumn {
    flex: 1;
    width: 45%;
}

.subcolumn ol {
    padding: 0;
    list-style-position: inside;
}

.subcolumn li {
    font-size: 2.15em;
    padding: 10px;
    font-weight: bold;
}

.box {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    border: 3px solid white;
}

.performances h2 {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
    color: #007bff;
    text-transform: uppercase;
}

.performances p, .performances li {
    font-size: 1.2em;
    padding: 6px;
    font-weight: bold;
}

.card-title {
    color: #007bff;
}
.logo-container img {
    max-height: 60px; /* Increased max height for larger images */
}
.logo-wrapper {
    position: fixed;
    bottom: 20px; /* Adjust bottom spacing as needed */
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .columns {
        flex-direction: column;
    }
}